.section{
    .header{
        justify-content: space-between;
        align-items: center;
        .left{
            align-items: center;
            display: flex;
            .line{
                width: 5px;
                height: 30px;
                background-color: #e2e8f0;
                margin-right: 32px;
                margin-left: 20px;
            }
            h2{
                color: #2d3748;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .right{
            button{
                font-weight: bolder;
                width: 93px;
                height: 30px;
                border-style: none;
                border-radius: 8px;
                font-size: 12px;
                color: #718096;
                background-color: #e2e8f0;
                transition: 0.3s;
            }
            button:hover{
                background-color: #718096;
                color: #e2e8f0;
            }
        }
    }
    @media screen and (max-width:345px) {
        .header{
            justify-content: center;
            .line{
                display: none;
            }
        }
    }
    .roww{
        justify-content: space-between;

       .card{
           
            .no-gutters{
                padding-left: 8px;
                align-items: center;
                justify-content: space-evenly;
            }   
            @media screen and (max-width:768px) {
                .no-gutters{
                    padding-left: 0;
                    padding-bottom: 100px;
                }
            }
            @media screen and (max-width:364px) {
                .no-gutters{
                    padding-left: 0;
                    padding-bottom: 120px;
                }
            }
             
           border-radius: 18px !important;
            //    max-width: 49% !important;
           
            .imgcol{
                max-width: 90% !important;
                height: 90%;
                .head{
                    font-weight: bold;
                    color: white;
                    padding-top: 8px;
                }
                border-radius: 10px;
                min-height: 50%;
                background-image: url(../img/imageedit_3_2933342896.png);
                background-size: contain;
                background-color: #2965F1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 48px;
                }
            
            }
            @media screen and (max-width:768px) {
                .imgcol{
                    height: auto;
                    min-height: 70%;
                    margin-top: 10px;
                }
            }
            .bdy{
                .card-body{
                    padding: 35px 20px;
                    button{
                        margin-bottom: 16px;
                        font-size: 12px;
                        color: white;
                        font-weight: bold;
                        background-color: #2965f1;
                        width: 65px;
                        height: 30px;
                        border-style: none;
                        border-radius: 10px;
                    }
                    .txt1{
                        margin-bottom: 20px;
                        font-size: 20px;
                        font-weight: bold;
                        color: #2d3748;
                    }
                    .row{
                        padding: 0 15px;
                        .p1{
                            font-size: 14px;
                            font-weight: bold;
                            color: #718096;
                        }
                        .p2{
                            font-size: 14px;
                            color: #a0aec0;
                            font-weight: lighter;
                        }
                    }
                }
            }
            transition: 1s;
            
        }
        .card:hover{
            transform: translateY(-4px);
            box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.38);
        }
    
        .card-left{
            transform: translateX(-150%);
        }
        .card-right{
            transform: translateX(150%);
        }

        .card-left-active{
            transform: translateX(0%);
        }
        .card-right-active{
            transform: translateX(0%);
        }
        
    }
    @media screen and (max-width: 1200px) {
        .row{
            justify-content: center;
            
        }
        .header{
            .left{
                margin-right: 10px;
            }
            .right{
                margin-left: 10px;
            }
        }
    }
}