/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: #f8f8f8;
  line-height: 1;
  font-family: 'Inter', sans-serif;
}

body, html {
  position: relative;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  background-color: white;
  color: #718096;
}

nav a {
  color: #718096;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover {
  color: #667eea;
}

nav .black-white {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 20px;
  height: 30px;
  width: 52px;
  background: linear-gradient(45deg, #FF7D6B, #FFD64C);
  border-radius: 25px;
  position: relative;
}

nav .black-white .fas {
  color: white;
  font-size: 17px;
  padding-top: 7px;
}

nav .black-white .fa-sun {
  margin-right: 5px;
  float: right;
}

nav .black-white .fa-moon {
  margin-left: 5px;
}

nav .black-white .fa-circle {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: 22px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

nav .black-white:hover .fa-circle {
  -webkit-transform: scale(1.2) translateY(-1.5px);
          transform: scale(1.2) translateY(-1.5px);
}

@media screen and (max-width: 510px) {
  nav .navbar-brand {
    margin: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  nav .navbar-collapse {
    margin-top: 50px;
  }
  nav .navbar-collapse li {
    margin-top: 15px;
  }
}

@media screen and (max-width: 510px) {
  .navbar {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.section1 {
  background-color: #f8f8f8;
  -webkit-animation-name: anime;
          animation-name: anime;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.section1 .rowmain {
  border-radius: 30px;
  background-color: white;
  width: 80%;
}

.section1 .rowmain .header {
  padding-left: 1.8rem;
}

.section1 .rowmain .header h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: bolder;
}

@media screen and (max-width: 510px) {
  .section1 .rowmain .header h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

.section1 .rowmain .text {
  padding-left: 1.8rem;
}

.section1 .rowmain .text p {
  font-size: 20px;
  color: #718096;
  line-height: 25px;
}

@media screen and (max-width: 992px) {
  .section1 .rowmain .header, .section1 .rowmain .text {
    padding-right: 1.8rem;
  }
}

.section1 .rowmain .buttons button {
  margin: 10px 15px;
  width: 160px;
  font-size: 14px;
  color: #718096;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  background-color: #667eea;
  border-color: #667eea;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1 .rowmain .buttons .btn2 {
  background-color: white;
  border: 3px #718096 solid;
}

.section1 .rowmain .buttons .btn1:hover {
  background-color: #718096;
}

.section1 .rowmain .buttons .btn2:hover {
  border-color: #667eea;
}

@media screen and (max-width: 631px) {
  .section1 .rowmain .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 510px) {
  .section1 .rowmain {
    width: 100% !important;
    border-radius: 0;
  }
}

.section1 .img {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: scale(1.2) translateY(-32px);
          transform: scale(1.2) translateY(-32px);
}

.section1 .img .rowimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 11%;
  bottom: 20%;
  background-color: #fff;
  border-radius: 10px;
}

.section1 .img .rowimg .col-md-3 i {
  font-size: 48px;
  color: #718096;
}

.section1 .img .rowimg .col-md-3 .count {
  color: #667eea;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 5px;
}

.section1 .img .rowimg .col-md-3 .txt {
  font-size: 14px;
  font-weight: bold;
  color: #718096;
}

@media screen and (max-width: 992px) {
  .section1 .img {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  .section1 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@-webkit-keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section2 .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .header .line {
  width: 5px;
  height: 30px;
  background-color: #e2e8f0;
  margin-right: 32px;
  margin-left: 20px;
}

.section2 .header h2 {
  color: #2d3748;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 345px) {
  .section2 .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .header .line {
    display: none;
  }
}

.section2 .active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 10px;
}

.section2 .active:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.section2 .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .owl-nav .ovl-prev {
  left: 0;
}

.section2 .owl-nav .ovl-next {
  right: 0;
}

.section2 .owl-nav button {
  background-color: #edf2f7 !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section2 .owl-nav button i {
  font-size: 20px !important;
  color: #718096 !important;
}

.section2 .owl-nav button:hover {
  background-color: #4299e1 !important;
}

.section2 .owl-nav button:hover i {
  color: white !important;
}

.section2 .item img {
  border-radius: 18px;
  position: relative;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section2 .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 18px;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(122, 122, 122, 0.5)), to(rgba(154, 152, 152, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(122, 122, 122, 0.5) 50%, rgba(154, 152, 152, 0.5) 100%);
}

.section2 .item .content .row {
  margin-left: 0;
  margin-right: 0;
}

.section2 .item .content .row1 button {
  width: 74px;
  height: 30px;
  border-style: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.section2 .item .content .row2 h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

.section2 .item .content .row3 .img {
  border-radius: 50%;
  background-color: #c5dce4;
  width: 60px;
  height: 60px;
}

.section2 .item .content .row3 .img img {
  width: 100%;
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

.section2 .item .content .row3 .row3-1 .name p {
  font-weight: bold;
}

.section2 .item .content .row3 .row3-1 .date {
  color: #718096;
}

.section2 .owl-carousel {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.owl-active {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  opacity: 1 !important;
}

.section3 .rowmain {
  border-radius: 30px;
  height: auto;
  padding: 180px 0;
  position: relative;
  background-image: url(../img/imageedit_3_2933342896.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.section3 .rowmain .img {
  -webkit-transform: scale(1.1) translateX(-150%);
          transform: scale(1.1) translateX(-150%);
  position: absolute;
  bottom: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 992px) {
  .section3 .rowmain .img {
    display: none;
  }
}

.section3 .rowmain .img-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.section3 .rowmain .content {
  position: absolute;
  right: 0;
}

.section3 .rowmain .content .row1 {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: 1s;
  transition: 1s;
}

.section3 .rowmain .content .row1 h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #667eea;
}

.section3 .rowmain .content .row2 {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: 1s;
  transition: 1s;
}

.section3 .rowmain .content .row2 p {
  color: #718096;
  font-size: 24px;
  line-height: 30px;
}

.section3 .rowmain .content .row3 {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: 1s;
  transition: 1s;
}

.section3 .rowmain .content .row3 span {
  color: #2d3748;
  font-size: 20px;
  font-weight: bold;
}

.section3 .rowmain .content .row-active1 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 992px) {
  .section3 .rowmain .content {
    padding-left: 80px;
  }
}

@media screen and (max-width: 589px) {
  .section3 .rowmain {
    padding: 250px 0;
  }
}

@media screen and (max-width: 510px) {
  .section3 .rowmain {
    width: 100% !important;
  }
}

@media screen and (max-width: 475px) {
  .section3 .rowmain .content {
    padding-left: 40px;
  }
  .section3 .rowmain .content .row1 {
    padding-right: 10px !important;
  }
  .section3 .rowmain .content .row1 h2 {
    font-size: 38px;
    line-height: 50px;
  }
  .section3 .rowmain .content .row2 {
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 357px) {
  .section3 .rowmain .content {
    padding-left: 25px;
  }
}

@media screen and (max-width: 510px) {
  .section3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.section .header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .header .left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .header .left .line {
  width: 5px;
  height: 30px;
  background-color: #e2e8f0;
  margin-right: 32px;
  margin-left: 20px;
}

.section .header .left h2 {
  color: #2d3748;
  font-size: 24px;
  font-weight: bold;
}

.section .header .right button {
  font-weight: bolder;
  width: 93px;
  height: 30px;
  border-style: none;
  border-radius: 8px;
  font-size: 12px;
  color: #718096;
  background-color: #e2e8f0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section .header .right button:hover {
  background-color: #718096;
  color: #e2e8f0;
}

@media screen and (max-width: 345px) {
  .section .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .header .line {
    display: none;
  }
}

.section .roww {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .roww .card {
  border-radius: 18px !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.section .roww .card .no-gutters {
  padding-left: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .section .roww .card .no-gutters {
    padding-left: 0;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 364px) {
  .section .roww .card .no-gutters {
    padding-left: 0;
    padding-bottom: 120px;
  }
}

.section .roww .card .imgcol {
  max-width: 90% !important;
  height: 90%;
  border-radius: 10px;
  min-height: 50%;
  background-image: url(../img/imageedit_3_2933342896.png);
  background-size: contain;
  background-color: #2965F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .roww .card .imgcol .head {
  font-weight: bold;
  color: white;
  padding-top: 8px;
}

.section .roww .card .imgcol img {
  width: 48px;
}

@media screen and (max-width: 768px) {
  .section .roww .card .imgcol {
    height: auto;
    min-height: 70%;
    margin-top: 10px;
  }
}

.section .roww .card .bdy .card-body {
  padding: 35px 20px;
}

.section .roww .card .bdy .card-body button {
  margin-bottom: 16px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  background-color: #2965f1;
  width: 65px;
  height: 30px;
  border-style: none;
  border-radius: 10px;
}

.section .roww .card .bdy .card-body .txt1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #2d3748;
}

.section .roww .card .bdy .card-body .row {
  padding: 0 15px;
}

.section .roww .card .bdy .card-body .row .p1 {
  font-size: 14px;
  font-weight: bold;
  color: #718096;
}

.section .roww .card .bdy .card-body .row .p2 {
  font-size: 14px;
  color: #a0aec0;
  font-weight: lighter;
}

.section .roww .card:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 5px 11px 1px rgba(0, 0, 0, 0.38);
}

.section .roww .card-left {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.section .roww .card-right {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.section .roww .card-left-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.section .roww .card-right-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (max-width: 1200px) {
  .section .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .header .left {
    margin-right: 10px;
  }
  .section .header .right {
    margin-left: 10px;
  }
}

.section8 {
  border-radius: 15px;
  background-color: white;
}

.section8 .mainrow {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.section8 .mainrow .row1 h3 {
  padding: 0 15px;
  font-size: 24px;
  color: #2d3748;
  font-weight: bold;
}

.section8 .mainrow .row2 p {
  padding: 0 15px;
  font-size: 16px;
  color: #718096;
}

.section8 .mainrow .row3 input {
  padding: 0 15px;
  border-radius: 3px;
  background-color: #e2e8f0;
  border-style: none;
  width: 30%;
  min-width: 200px;
  padding: 10px 10px;
  outline: none;
}

@media screen and (max-width: 350px) {
  .section8 .mainrow .row3 {
    width: auto;
  }
}

.section8 .mainrow .row4 button {
  width: 160px;
  height: 50px;
  color: white;
  background-color: #667eea;
  border-radius: 25px;
  border-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section8 .mainrow .row4 button:hover {
  color: #edf2f7;
  background-color: #718096;
}

.section8 .active-mainrow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.footer {
  overflow: hidden;
}

.footer .rowmain .col1 {
  color: #718096;
}

.footer .rowmain .col1 .logo {
  max-width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.footer .rowmain .col1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #718096;
}

.footer .rowmain .col1 a img {
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 90px;
}

.footer .rowmain .col1 a:active {
  color: #718096;
}

.footer .rowmain .col1 a:visited {
  color: #718096;
}

.footer .rowmain .col1 a:hover {
  color: #667eea;
}

.footer .rowmain .column h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .rowmain .column ul li {
  margin: 0 8px;
  margin-bottom: 18px;
}

.footer .rowmain .column ul li a {
  color: #718096;
  text-decoration: none;
}

.footer .rowmain .column ul li a:active {
  color: #718096;
}

.footer .rowmain .column ul li a:visited {
  color: #718096;
}

.footer .rowmain .column ul li a:hover {
  color: #667eea;
}

@media screen and (max-width: 576px) {
  .footer .rowmain .col1, .footer .rowmain .col2, .footer .rowmain .col3, .footer .rowmain .col4 {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .footer .rowmain {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */